<?xml version="1.0" encoding="utf-8" ?>
<configuration>	
	<system.runtime.remoting>
		<application name="RemoteServer">
			<service>
				<!--<wellknown type="RemoteObj.MyObject,RemoteObj" objectUri="RemoteObj.MyObject"
                    mode="SingleCall" />-->
				<!--<wellknown type="RemoteObj.MyObject,RemoteObj" objectUri="RemoteObj.MyObject"
	mode="Singleton" />-->
				<wellknown type="RemoteObj.MyObject,RemoteObj"/>
			</service>
			<channels>
				<channel ref="tcp" port="4443"/>
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>