<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RenbarServerGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RenbarServerGUI.Properties.Settings>
            <setting name="DBConnectionString" serializeAs="String">
                <value>Data Source=192.168.0.1;database=BT_Test;user id=root;password=9999;</value>
            </setting>
            <setting name="ListenClientPort" serializeAs="String">
                <value>6600</value>
            </setting>
            <setting name="ListenRenderPort" serializeAs="String">
                <value>6700</value>
            </setting>
            <setting name="ServerSyncPort" serializeAs="String">
                <value>6601</value>
            </setting>
            <setting name="AlienbrainUser" serializeAs="String">
                <value>isadmin</value>
            </setting>
            <setting name="AlienbrainPwd" serializeAs="String">
                <value>1qazxsw2</value>
            </setting>
            <setting name="AlienbrainSvr" serializeAs="String">
                <value>BI-TESTSRV02</value>
            </setting>
            <setting name="AlienbrainWorkingPath" serializeAs="String">
                <value></value>
            </setting>
            <setting name="JobHistoryMaxRecord" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MasterServer" serializeAs="String">
                <value>192.168.2.230</value>
            </setting>
            <setting name="SlaveServer" serializeAs="String">
                <value>192.168.1.139</value>
            </setting>
            <setting name="JobMaxTime" serializeAs="String">
                <value>1800000</value>
            </setting>
            <setting name="MachineMaxTime" serializeAs="String">
                <value>604800000</value>
            </setting>
        </RenbarServerGUI.Properties.Settings>
    </applicationSettings>
</configuration>